---
title: Contributors
layout: base.njk
---

<h1>Contributors</h1>

<p>See <a href="../recent-work">recent work</a> by think tank members.</p>

<div class="contributor-list">
{% for person in collections.person %}
    <div class="contributor-card">
        <a href="{{ person.url }}">
            <div class="contributor-headshot">
                <img src="{{ person.data.headshot }}" alt="{{ person.data.title }}" />
            </div>
            <div class="contributor-info">
                <h2 class="contributor-title">{{ person.data.title }}</h2>
                <p class="contributor-position">{{ person.data.position }}</p>
                
                {% set personId = person.fileSlug %}


               
            </div>
        </a>
    </div>
{% endfor %}
</div>
